
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display SC", serif;
}

body {
    background: #575757;
}

.quote-container {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 5px solid rgb(23, 124, 129);
    border-radius: 10px;
    text-align: center;
    box-shadow: 20px 20px 2px 2px rgba(1, 46, 48, 0.714);
}

.quote-container h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

/* Teal blue line dash style */
.quote-container h2::after {
    content: '';
    width: 75px;
    height: 5px;
    border-radius: 3px;
    background: rgb(23, 124, 129);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-container blockquote {
    font-size: 26px;
    min-height: 110px;
}

.quote-container blockquote::before, .quote-container blockquote::after {
    content: "''";
}

.quote-container span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

/* Teal blue line dash style */
.quote-container span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 129);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-container div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-container button {
    background: rgb(23, 124, 129);
    font-size: small;
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(1, 46, 48);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.quote-container button img {
    width: 25px;
    margin-right: 7px;
    color: black;
}

.quote-container button:nth-child(2) {
    background-color: transparent;
    color: rgb(1, 46, 48);
}

/* Media Queries */
@media (max-width: 768px) {
    .quote-container {
        width: 75%;
}

h2,
#quote {
    font-size: 20px;
}

}